body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}
.initial-capital {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.initial-capital input {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
}

.initial-capital button {
    background-color: #6200ea;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

.initial-capital button:hover {
    background-color: #3700b3;
}

.initial-capital input[readonly] {
    background-color: #f0f2f5;
    color: #555;
}

h1 {
    color: #333;
    text-align: center;
}

.material-button {
    background-color: #6200ea;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.material-button:hover {
    background-color: #3700b3;
}

.material-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.material-table th, .material-table td {
    padding: 12px 15px;
    text-align: center;
}

.material-table th {
    background-color: #6200ea;
    color: #ffffff;
}

.material-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.material-table tr:hover {
    background-color: #f1f1f1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}
